body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(150, 178, 242);
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2e59d9;
}

ul {
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f8f9fc;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #cd291a;
}

li button :hover {
    background-color: #cd291a;
}

